<table style="width:100%">
    <tr>
    <th>Variable</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Vurdering</td>
    <td>{{ .Site.Data.credit.example.valuation }}</td>
  </tr>
  <tr>
    <td>Hovedstol</td>
    <td>{{ .Site.Data.credit.example.principal }}</td>
  </tr>
  <tr>
    <td>Bidragssats / kvartal</td>
    <td>{{ .Site.Data.credit.example.contrib_percent }}%</td>
  </tr>
  <tr>
    <td>Terminer</td>
    <td>{{ .Site.Data.credit.example.payments }}</td>
  </tr>
</table> 